h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: $font-primary;
}

section {
    padding: 74px 0;
}

.pd50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-title {
    h2,
    h4 {
        font-weight: bold;
        color: $color-primary;
    }
    h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 40px;
    }
    h2.service-sibedar-title {
        margin-bottom: 15px;
    }
    h4 {
        font-size: 25px;
        text-align: left;
        a {
            color: $color-primary;
        }
    }
    .contact-form {
        margin-top: 0;
    }
}

.btn-primary {
    border: 1px solid $color-primary;
    padding: 10px 45px;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-white;
    -moz-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
    &.alt {
        background-color: transparent;
        border-color: $color-primary;
        color: $color-primary;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-primary;
        }
    }
    &:hover {
        background-color: transparent;
        border-color: $color-primary;
        color: $color-primary;
    }
    &:active {
        background-color: transparent !important;
        border-color: $color-primary !important;
        color: $color-primary !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}

// .main-menu {
//     background-color: $color-primary;
//     padding: 20px 0 !important;
// }
// .menu {
//     ul.nav.navbar-nav {
//         li {
//             a {
//                 margin: 0 15px;
//                 color: $color-white;
//             }
//         }
//     }
// }

/*
|----------------------------------------------------------------------------------------------
| Stellarnav Menu
|----------------------------------------------------------------------------------------------
*/

.stellarnav {
    a {
        color: $color-white;
        &:hover {
            color: $color-black;
            transition: 1s;
        }
        &:active {
            color: $color-black;
        }
    }
    .icon-close {
        &::before {
            border-bottom: solid 3px $color-white;
        }
        &::after {
            border-bottom: solid 3px $color-white;
        }
    }
    &.mobile {
        ul {
            background: rgba(0, 153, 102, 0.9);
            // ul {
            li {
                &.current-menu-parent {
                    >a {
                        color: $color-black;
                    }
                }
            }
            // }                
        }
    }
    .menu-toggle {
        span {
            &.bars {
                span {
                    background: $color-white;
                }
            }
        }
    }
    ul {
        text-align: left;
    }
    >ul {
        >li {
            >a {
                padding: 15px 24px 15px 0px;
            }
        }
    }
    li {
        ul.sub-menu {
            li {
                a {
                    color: $color-secondary;
                    transition: all 0.4s;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            &:hover {
                max-width: 1016px!important;
            }
        }
        a {
            color: $color-white;
        }
    }
}

.stellarnav li.current-menu-item a {
    color: $color-black;
}

.stellarnav.desktop>ul>li.current-menu-parent>a {
    color: #000;
}

.stellarnav.desktop>ul>li.mega>ul>li {
    padding-bottom: 5px;
    word-break: break-all;
}

.stellarnav ul.sub-menu li.current-menu-item a,
.stellarnav.desktop>ul>li.mega>ul>li.current-menu-item>a {
    color: $color-black;
}

.stellarnav.desktop>ul>li.mega>ul>li>a:hover {
    color: $color-primary;
    &:focus {
        color: $color-black;
    }
    &:active {
        color: $color-black;
    }
}


/*
|----------------------------------------------------------------------------------------------
| Header
|----------------------------------------------------------------------------------------------
*/

header {
    .header-social {
        background-color: $color-bg;
        padding: 15px 0;
        ul {
            padding: 0;
            li.item {
                float: left;
                list-style: none;
                a {
                    color: $color-secondary;
                    text-decoration: none;
                    &:hover {
                        color: $color-primary;
                    }
                }
                .link {
                    padding-right: 15px;
                }
                &.active {
                    a {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .header-logo {
        .list-inline-item {
            padding-right: 25px;
            border-right: 1px solid #D3D3D3;
            &:last-child {
                border-right: 0;
                padding-right: 0px;
            }
        }
        .separator {
            padding-left: 10px;
        }
        p {
            color: $header-color;
            font-style: normal;
            font-weight: normal;
            font-size: $content-font-size2;
            line-height: 28px;
            margin: 0;
            text-align: left;
        }
        a {
            color: $color-secondary;
            font-weight: bold;
        }
        ul {
            margin: 18px 0;
            /*float: right;*/
        }
        .social-icon {
            img {
                font-size: 35px;
                float: left;
                margin-right: 15px;
                position: relative;
                top: 10px;
                color: $color-primary;
            }
            .social-data {
                overflow: hidden;
                word-break: break-all;
            }
        }
    }
    .header-menu {
        background-color: $color-primary;
        #menu-main-menu {
            z-index: 10000;
            width: 96%;
            display: inline-block;
        }
    }
}

.current-menu-item a i {
    color: $color-black;
}

.hospital-slider {
    padding: 0;
    .carousel-caption {
        bottom: 35%;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
        h1 {
            font-size: 44px;
            line-height: 1.5;
            font-weight: bold;
        }
    }
}

.hospital-about {
    .hospital-about-content {
        h2 {
            margin-bottom: 16px;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            font-size: $content-font-size1;
            line-height: 33px;
            color: $color-third;
            margin-bottom: $margin-bottom;
            padding: 0px 90px;
        }
    }
}

.hospital-department {
    background-color: $color-bg;
    img {
        width: 100%;
    }
}

.general-department {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.5s !important;
    border-radius: 8px;
    min-height: 432px;
    .depts-icon-parent {
        position: relative;
        img {
            border-radius: 8px 8px 0px 0px;
            width: 100%;
        }
    }
    .depts-icon-child {
        position: absolute;
        width: 58px;
        height: 58px;
        bottom: -25px;
        left: 42%;
        background-color: $color-primary;
        border-radius: 50px;
        img {
            padding: 15px;
            transform: rotate(360deg);
            transition: all 0.4s ease-out 0s;
        }
    }
    &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        .depts-icon-child {
            img {
                transform: rotate(0);
            }
        }
    }
    .content-align {
        padding: 42px 30px;
    }
    .card-body {
        h5,
        p {
            font-style: normal;
        }
        h5 {
            font-size: $h5-font-size;
            line-height: 30px;
            font-weight: 900;
            color: $color-secondary;
            transition: all 0.4s;
            &:hover {
                color: $color-primary;
            }
        }
        p {
            font-size: $content-font-size2;
            line-height: 28px;
            font-weight: normal;
            color: $color-third;
            margin-bottom: 0;
        }
    }
}